html,
body{
    height: 100%;
}

div {
    padding: 10px 20px 30px 40px;
    margin: 10px 20px 30px 40px;
    border: 3px solid black;
    display: inline-block;
}

#section-one{
    height: 300px;  
    width: 50%;
    display: none;
}

#section-two:hover{
    background-color: black;
}