body{
    font-family: sans-serif;
}

h1{
    color: brown;
    font-family: sans-serif;
}

code{
    font-family: monospace;
    color: red;
}

.special{
    color: green;
}

li + li {
    background-color: black;
    color: white;
}

ol li {
    background-color: black;
    color: white;
}